
  //Navegacion
  @import "layout/navigation";

  //Footer
  @import "layout/footer";

  //Index
  @import "views/index";
  
  //Pagina Servicios
  @import "views/servicios";
  
  //Pagina Cortes 
  @import "views/cortes";

  //Pagina Nosotros
  @import "views/nosotros";

  //Pagina Contacto
  @import "views/contacto";
  

  @import "utilities/variables";

  /* Universal */
  .boton {
    color: white;
    background-color: $color-azul;
  }
  
  .boton:hover {
    color: white;
    background-color: $boton-hover;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  