$color-primario:#101419;
$color-secundario: #a48b65;
$color-terciario: #3d3f42;
$color-azul: #2660a4;
$boton-hover: #1b497c;

@mixin boton {
    color: white;
    background-color: $color-azul;
}

@mixin boton-hover {
    color: white;
    background-color: $boton-hover;
}

