$color-primario:#101419;
$color-secundario: #a48b65;
$color-terciario: #3d3f42;
$color-azul: #2660a4;
$azul-oscuro: #1b497c;

.boton {
    color: white;
    background-color: $color-azul;
}

.boton:hover {
    color: white;
    background-color: $azul-oscuro;
}


$primario:#232d38;