@import "../utilities/variables";

//Banner
  .carousel-item  {
    .banner-mobile {
      display: none;
    }
  }
  @media screen and (max-width: 699.5px) {
    .banner-desktop {
      display: none;
    }
    .banner-mobile {
      display: block !important;
    }
  }

  
// .intro {
//   background-color: #161414;
//   color: #fff; 
//   text-align: center;
//   padding: 20px 0;
//   h2 {
//     font-size: 50px;
//     margin: 30px;
//   }
//   .puntos-index {
//     border-radius: 10px;
//     padding: 10px;
//     margin: 50px;
//     box-shadow: 0 0 20px $color-azul;
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     p {
//       width: 100%;
//       font-size: 30px;
//     }
//     img {
//       max-height: 400px;
//       border-radius: 5px;
//       margin: 50px;
//       }
//     ul {
//       width: 60%;
//       padding: 0;
//       display: flex;
//       flex-flow: column wrap;
//       align-items: end;
//     li {
//       text-align: left;
//       margin: 20px 0;
//       font-size: 30px;
//       }
//     }
//   }
// }
// @media (max-width: 1400px){
//   .intro {
//     .puntos-index {
//       p {
//         margin: 40px 0;
//       }
//       justify-content: center;
//       img {
//         margin: 0;
//         padding: 20px;
//       }
//       ul {
//         width: 100%;
//         margin: 0 40px;
//       }
//     }  
//   }
// }


@media (max-width: 600px) {
  .intro {
    h2 {
      font-size: 35px;
    }
    .puntos-index {
      margin: 10px;
      p {
        font-size: 30px;
        margin: 10px 0;
      }
      ul {
        margin: 10px;
        li {
          font-size: 25px;
          text-align: center;
        }
      }
    }
  }
}

.bg-index {
  background: linear-gradient(to bottom, black, rgb(54, 53, 52));
}

.intro {
  margin-top: 30px;
  color: white;
  border-radius: 10px;
  h2 {
    text-align: center;
    font-size: 50px;
  }
  .punto-1, 
  .punto-2 {
    margin: 50px 0;
    //box-shadow: 0 0 20px rgba(255, 186, 129, 0.7);
  }
  img {
    border-radius: 5px;
    width: 350px;
    margin: 30px;
  }
  .descripcion {
    width: 60%;
    padding: 0 30px;
    p {
      font-size: 40px;
      text-align: center;
    }
    ul {
      padding: 0;
      li {
        font-size: 25px;
        margin: 30px 0;
      }
    }
  }
}

@media (max-width: 991.5px){
  .intro {
    margin-top: 20px;
    h2 {
      font-size: 30px;
    }
    .punto-1 {
      margin: 0 !important;
      padding: 0;
      flex-direction: column;
      img {
        order: -1;
        width: 250px ;
      }
      .descripcion {
        width: 100%;
        text-align: center;
        p {
          font-size: 30px;
        }
        ul {
          margin: 0;
          li{
            font-size: 20px;
          }
        }
      }
    }
  }
}

//Servicios Destacados
  .servicios-destacados {
    //background-color: $color-secundario;
    //background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    h2 {
        margin: 50px 0 40px;
    }
    h3 {
        margin-top: 15px;
    }
    p {
        margin-bottom: 15px;
    }
    .servicio-destacado {
      max-width: 300px !important;
      max-height: 500px !important;
      margin: 10px 50px !important;
      background-color: $color-primario;
      color: white;
      img {
          margin: 15px 0;
      }
    }
  }
  
  @media (max-width: 991.5px) {
    .row {
      justify-content: center !important;
    }
  }

//Turno
  .turnos {
    color: white;
    //background-color: #232d38;

    .horarios-turno {
      h3 {
        font-size: 35px;
        font-weight: bold;
      }
      p {
        font-size: 30px;
      }
    }
    .boton-form-index {
      width: 30%;
    }
    @media (max-width: 991.98px) {
      .form-index {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      .boton-form-index{
        width: 40%;
        margin: 0 auto;
      }
    }
  }

  
  
  