@import "../utilities/variables";
@import "../utilities/mixins";

.bg-servicios {
  background-image: linear-gradient(to left, #444b53 5%, #292f36 15%, #101419 50%, #292f36 85%, #444b53 95%);
}

.h2-servicios {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  margin: 60px auto !important;
  font-size: 45px;
  box-shadow: 0 0 10px rgb(255, 255, 255, .5);
}

.servicio-contenedor {
  margin: 100px 30px;
  img {
    width: 400px;
    border-radius: 5px;
    box-shadow:  0 0 40px rgb(0, 0, 0);
  }
  .nombre-parrafo {
    flex-direction: column;
    margin: 20px;
    h3 {
      width: fit-content;
      padding: 10px;
      font-size: 50px;
      border-radius: 5px;
      box-shadow:  0 0 10px wheat;
    }
    p {
      width: 90%;
      padding: 20px;
      margin-top: 20px;
      font-size: 30px;
      background-color: rgb(0, 0, 0, 0.3);
      box-shadow:  0 0 20px rgb(0, 0, 0); 
    }
  }
  .nombre-parrafo-derecha {
    h3 {
      margin-left: auto;
    }
    p {
       margin-left: auto;
    }
  }
}

@media (max-width: 991px) {
  .servicio-contenedor {
    margin: 50px auto;
    width: 100%;
    .servicio {
      flex-flow: column wrap;
    }
    .nombre-parrafo {
      margin: 20px auto;
      order: -1;
      h3 {
        font-size: 20px;
        margin: 0 auto 20px;
        text-align: center;
      }
      p {
        margin: 10px auto;
        text-align: center !important;
        width: 100%;
        font-size: 18px;
        padding: 5px;
      }
    }
  }
}